*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background: rgb(15, 15, 15);
}

/* --------------------- HEADER ----------------------- */

.container-header{
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#listaHeader li{
    font-size: 16px;
    list-style: none;
    float: left;
    
}
.title{
    color: white;
}
#moto{
    color: #F65511;
    font-weight: bold;
}
a{
    text-decoration: none;
    /* color: #F65511; */
    color: white;
    font-size: 20px;
    padding: 0px 10px;
    font-weight: 300;
}
a:hover{
    color: #fa7f4a;
    transition: 600ms;
}
.listNav{
    align-self: center;
}
.logo{
    display: flex;
    align-items: center;
}
.helmet{
    margin-right: 10px;
}
.icons-img{
    align-self: center;
}
.size-img{
    /* color: white; */
    cursor: pointer;
    margin: 0px 5px;
    width: 30px;
}

/* ---------------------- SECTION -------------------------- */

.container{
    /* display: flex; */
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    /* justify-content: center; */
    padding: 20px 0px;
}
.container1{
    display:flex;
    justify-content: center;
}
.duke390-img{
    margin: 20px 0px;
    width: 40vw;
    /* border: 1px solid red; */
}
#listaSection{
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
}
#listaSection li{
    /* border: 1px solid green; */
    display: flex;
    font-size: 30px;
    list-style: none;
}
.subtipo{
    justify-content: center;
    color: rgb(90, 90, 90);
}
.tipo{
    justify-content: center;
}
.bar{
    margin: 70px 100px;
}